{% extends "base.html" %}
{% block title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <h1>
        {{ module.name }}
    </h1>
    <div class="contents">
        <h3>Модули</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
                <li data-id="{{ m.id }}" {% if m == module %}class="selected"
                {% endif %}>
                    <a href="{% url "users_course_in_module" object.id m.id %}">
                        <span>Модуль <span class="order">{{ m.sort|add:1 }}</span><br>{{ m.name }}</a>
                </li>
            {% empty %}
                <li>Нет модулей.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module_list">
        {% for c in module.content.all %}
            {% with item=c.item %}
                <h2>{{ item.name }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}


